body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(61, 56, 77);
  color: white;
  font-family: serif;
}

a:link {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}