body {
  margin:0;
  padding:0;
    background-color: #0d94ff;
    background: linear-gradient(180deg,rgba(0, 4, 66, 1) 0%, rgba(15, 98, 166, 1) 100%);
    min-height: 100vh;
}

p {
  color: white;
  font-family:Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
}