.bgcheckers {
  background-image: url("https://www.pibis.net/img/bg_index.png");
  background-repeat: repeat;
}

.mainPortraitDiv {
  border-style: ridge;
  border-width: 4px;
  border-color: azure;
  background: LightGrey;
  overflow:hidden;
  height:440px;
  width: 300px;
  margin-left: auto; 
  right:-40px;
  margin-top: 20px;
  position:absolute;
  box-shadow: 6px 10px 14px 0px rgba(48,42,54,0.04);
}

.mainPortraitImg {
display: block;
height: 440px;
margin: auto;
position: relative;
image-rendering: auto;
}


.charTitle {
width: 840px;
height: 60px;
background: azure;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

border-style: outset;
border-width: 8px;
border-color: azure;

box-shadow: 6px 10px 14px 0px rgba(48,42,54,0.07);
text-align:center

}

.mainbody {
width: 840px;
background: WhiteSmoke;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
margin-top: 76px;
box-shadow: 6px 10px 14px 0px rgba(48,42,54,0.07);
min-height: 540px;
}

.gallery {
width: 840px;
background: red;
position: relative;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
margin-top: 60px;
box-shadow: 6px 10px 14px 0px rgba(48,42,54,0.07);
min-height: 60px;
display:block;
}

.charLogo {
  vertical-align: middle;
}

.charSiteHeader {
  height: 120px;
  white-space: nowrap;
  background-image: url("https://www.pibis.net/img/tile_0.png");
    
  text-align: center; margin: 1em 0;
}
.centerHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/*.... FONTS AND TEXT FORMATTING BELOW ....*/



