.bgcheckers {
  background-image: url("https://www.pibis.net/img/bg_index.png");
  background-repeat: repeat;
}

.mainPortraitDiv {
  border-style: ridge;
  border-width: 4px;
  border-color: brown;
  background: lightgrey;
  overflow:hidden;
  height:440px;
  width: 300px;
  margin-left: auto; 
  margin-right: -40px;
  margin-top: 60px;
}

.mainPortraitImg {
display: block;
height: 440px;
margin: auto;
position: relative;
image-rendering: auto;
}

.mainbody {
width: 840px;
background: white;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

.charLogo {
  vertical-align: middle;
}

.charSiteHeader {
  height: 120px;
  white-space: nowrap;
  background-image: url("https://www.pibis.net/img/tile_0.png");
    
  text-align: center; margin: 1em 0;
}
.centerHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/*.... FONTS BELOW ....*/
