body {
  background-image: url("https://pibis.net/img/bg_comm.png");
  background-size: 96px;
  image-rendering: pixelated;
  margin:0;
  padding:0;
}

table, th, td {
  border: 1px solid;
}
th, td {
  width:120px;
}


.prices {
  background: #5e5768;
  color: #FCDEBE;
  width: 800px;
  margin:0 auto;
  padding: 8px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid;
  box-shadow: 8px 12px 20px 0px rgba(0, 0, 0, .75);
}

.examplePiece {
border: 1px solid;
color: #FCDEBE;
height:320px;
float: right;
}
.exampleHref {
float: right;
}