html, body {
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overflow-y: visible;
  margin:0;
  padding:0;
}

a {
  color:rgb(105, 213, 255);
}

.bgcheckers {
  background-image: url("../img/textiles/starry.gif");
  background-repeat: repeat;
  background-color:#000000;
  background-attachment:fixed;

}

.baseWindow {
  background-color: white;
  /* background: url("../img/bg/bg_4.jpg"); */
  border-radius: 8px;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: solid;
  border-width: 4px;
  /*border-color: #6d7b95;*/
  border-color: #598b55;
  margin: auto;

  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: 8px 12px 20px 0px rgba(12, 0, 45, .2);

  animation: border-cycle 10s infinite;

}


.windowHeader {
  width: calc(100% + 2px);
  height: 28px;
  top: -28px;
  position: absolute;
  line-height: 28px;
  
  background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);
  /* background: linear-gradient(180deg, rgba(34,107,107,1) 0%, rgba(0,128,128,1) 8%, rgba(0,128,128,1) 38%, rgba(26,147,142,1) 72%, rgba(0,128,128,1) 88%, rgba(0,128,128,1) 92%, rgba(34,107,107,1) 100%); */

  border-radius: 8px;
  border-style: none;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 4px;
  border-color: #5c6880;
  margin: auto;

  padding-left: 6px;

  position: absolute;
  left: -4px;

  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;

  text-shadow: 1px 1px black;

  animation: bg-cycle 10s infinite; 

  }

  .starterText {
    background: rgba(0, 0, 0, 0.6);
    color:white;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    display: inline-block;
  }

.taskBar {
  width: 100%;
  height: 36px;
  bottom: 0px;
  left:120px;
  position: absolute;
  line-height: 36px;
  background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);
  /* background: linear-gradient(180deg, rgba(34,107,107,1) 0%, rgba(0,128,128,1) 8%, rgba(0,128,128,1) 38%, rgba(26,147,142,1) 72%, rgba(0,128,128,1) 88%, rgba(0,128,128,1) 92%, rgba(34,107,107,1) 100%); */
  margin: auto;
  padding-left: 12px;
  position: absolute;
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;
  text-shadow: 1px 1px black;
  display: inline-block;
  z-index: 5;
  }

  .taskBarext {
  width: 100%;
  height: 36px;
  bottom: 0px;
  position: absolute;
  line-height: 36px;
  background: black;
  /* background: linear-gradient(180deg, rgba(34,107,107,1) 0%, rgba(0,128,128,1) 8%, rgba(0,128,128,1) 38%, rgba(26,147,142,1) 72%, rgba(0,128,128,1) 88%, rgba(0,128,128,1) 92%, rgba(34,107,107,1) 100%); */
  margin: auto;
  padding-left: 12px;
  position: fixed;
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;
  text-shadow: 1px 1px black;
  display: inline-block;
  z-index: 5;
  }

  .taskClock {
    width: 64px;
    height: 36px;
    bottom: 0px;
    right:0px;
    position: absolute;
    line-height: 10px;
    background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);
    text-align: center;
    position: absolute;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 9pt;
    color: white;
    font-weight: normal;
    user-select: none;
    text-shadow: 1px 1px black;
    display: inline-block;
    z-index: 6;
    border-left:1px solid #5c6880;
    border-radius: 12px;
    }

    .taskClockext {
    width: 128px;
    height: 36px;
    bottom: 0px;
    right:0px;
    position: absolute;
    line-height: 10px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(28, 153, 0, 1) 100%);
    text-align: center;
    position: fixed;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 9pt;
    color: white;
    font-weight: normal;
    user-select: none;
    text-shadow: 1px 1px black;
    display: inline-block;
    z-index: 6;
    }

.taskStart {
  width: 120px;
  height: 36px;
  bottom: 0px;
  position: absolute;
  line-height: 36px;
  background: linear-gradient(180deg, rgba(32,113,32,1) 0%, rgba(138,218,131,1) 10%, rgba(52,168,52,1) 40%, rgba(52,168,52,1) 60%, rgba(78,185,76,1) 78%, rgba(61,159,60,1) 91%, rgba(32,113,32,1) 100%);
  text-shadow: 2px 2px 2px green;
  margin: auto;
  padding-left: 6px;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  color: white;
  font-weight: bold;
  font-style: italic;
  user-select: none;
  display: inline-block;
  border-bottom-right-radius: 12px 16px;
  border-top-right-radius: 12px 16px;
  border-right: 2px solid;
  border-color: rgba(61,159,60,1);
  z-index: 6;
  }
  .taskStart:hover {
    background: linear-gradient(to bottom, #218f21 0%,#aeedaa 10%,#32c232 40%,#32c232 60%,#54c852 78%,#3cbb39 91%,#218f21 100%);
  }

  .taskIcon {
    margin-left: 16px;
    box-shadow: 2px 2px 2px green;
    width: 14px;
    height: 14px;
  }



.splashtext {
    -webkit-transform: translate(-50%, -50%) rotate(-15deg);
    -moz-transform: translate(-50%, -50%) rotate(-15deg);
    -o-transform: translate(-50%, -50%) rotate(-15deg);
    -ms-transform: translate(-50%, -50%) rotate(-15deg);
    transform: translate(-50%, -50%) rotate(-15deg);
    
    top: 50%;
    left: 50%;
    position: absolute;
    color: gold;
    font-family: Comic Sans MS;
    user-select: none;
    text-shadow: 1px 1px black;
}

.splashContainer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 110px;
  transform: translateX(200px);
  z-index: 6;
}

.startDropdownCont {
  display: none;
  position: absolute;
  bottom: 36px;

  width: 240px;
  height: 240px;

  background-color: white;
  border-radius: 8px;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: solid;
  border-width: 4px;
  border-color: #6d7b95;
  margin: auto;

  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  box-shadow: 8px 12px 20px 0px rgba(12, 0, 45, .2);
}

.startDropdown:hover .startDropdownCont {
  display: block;
}

.startDropdown:hover .taskStart {
  background: linear-gradient(to bottom, #218f21 0%,#aeedaa 10%,#32c232 40%,#32c232 60%,#54c852 78%,#3cbb39 91%,#218f21 100%);
}

.startHeader {
  width: calc(100% + 2px);
  height: 48px;
  top: -48px;
  position: absolute;
  
  background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);

  border-radius: 8px;
  border-style: none;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 4px;
  border-color: #5c6880;
  margin: auto;

  padding-left: 6px;

  left: -4px;
}

.userText {
  position:absolute;
  top: -21px;
  left: 48px;
  line-height: 48px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-size: 16pt;
  color: white;
  font-weight: normal;
  user-select: none;

  text-shadow: 1px 1px black;
}

/*.... BUTTON STUFF ....*/

.xButton {
  background-image: url("../img/buttons/xDefault.png"), linear-gradient(0deg, rgba(173,50,17,1) 0%, rgba(229,86,42,1) 10%, rgba(229,86,42,1) 60%, rgba(238,157,138,1) 90%, rgba(228,90,64,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  top: 4px;
  right: 6px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.xButton:hover {
  background-image: url("../img/buttons/xHover.png"), linear-gradient(0deg, rgba(208,73,54,1) 0%, rgba(255,156,117,1) 10%, rgba(255,118,100,1) 60%, rgba(255,158,147,1) 90%, rgba(255,112,95,1) 100%);
}
.xButton:active {
  background-image: url("../img/buttons/xActive.png"), linear-gradient(0deg, rgba(190,66,32,1) 0%, rgba(207,75,36,1) 10%, rgba(193,63,29,1) 60%, rgba(170,50,23,1) 90%, rgba(110,35,16,1) 100%);
  color: #DF9A87;
}

.yellowButton {
  background-image: linear-gradient(0deg, rgba(165,106,8,1) 0%, rgba(199,138,16,1) 10%, rgba(229,181,24,1) 60%, rgba(236,202,150,1) 90%, rgba(225,169,88,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.yellowButton:hover {
  background-image: linear-gradient(0deg, rgba(203,141,9,1) 0%, rgba(234,174,25,1) 10%, rgba(255,228,30,1) 60%, rgba(255,205,130,1) 90%, rgba(255,184,77,1) 100%);
}
.yellowButton:active {
  background-image: linear-gradient(0deg, rgba(207,130,2,1) 0%, rgba(207,130,2,1) 10%, rgba(216,150,3,1) 60%, rgba(171,98,2,1) 90%, rgba(114,68,2,1) 100%);
}

.greenButton {
  background-image: linear-gradient(0deg, rgba(2,98,2,1) 0%, rgba(12,125,12,1) 10%, rgba(15,179,15,1) 60%, rgba(136,209,136,1) 90%, rgba(51,152,51,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.greenButton:hover {
  background-image: linear-gradient(0deg, rgba(8,134,8,1) 0%, rgba(15,179,15,1) 10%, rgba(27,219,27,1) 60%, rgba(164,217,164,1) 90%, rgba(68,195,68,1) 100%);
}
.greenButton:active {
  background-image: linear-gradient(0deg, rgba(63,160,63,1) 0%, rgba(2,142,2,1) 10%, rgba(2,157,2,1) 60%, rgba(2,98,2,1) 90%, rgba(2,71,2,1) 100%);
}

.blueButton {
  background-image: linear-gradient(0deg, rgba(6,65,192,1) 0%, rgba(22,94,229,1) 10%, rgba(38,121,248,1) 60%, rgba(141,173,249,1) 90%, rgba(85,132,246,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.blueButton:hover {
  background-image: linear-gradient(0deg, rgba(15,88,204,1) 0%, rgba(36,129,241,1) 10%, rgba(62,180,255,1) 60%, rgba(164,194,255,1) 90%, rgba(85,142,255,1) 100%);
}
.blueButton:active {
  background-image: linear-gradient(0deg, rgba(0,84,185,1) 0%, rgba(0,83,184,1) 10%, rgba(0,95,196,1) 60%, rgba(0,63,151,1) 90%, rgba(0,37,87,1) 100%);
}



/*.... ICON STUFF ....*/

.icon {
  width: 84px;
  height: 110px;
  margin-top: 8px;
  filter: drop-shadow(2px 2px 2px #00000070);
}
.icon:hover {
  width: 84px;
  height: 110px;
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow:inset 0px 0px 0px 1px rgba(160, 160, 160, 0.5);
  filter: drop-shadow(2px 2px 2px #00000000);
}

.iconTxt {
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;
  text-align: center;
  text-shadow: 1px 1px black;
  position:relative;
  top:2px;
}

.iconImg {
  position: relative;
  margin:auto;
  display:block;
  image-rendering: crisp-edges;
  top:10px;
}

.icon.selected {
  background-color: rgba(200, 200, 200, 0.65); /* More opaque */
  box-shadow:inset 0px 0px 0px 1px rgba(160, 160, 160, 0.65);
}

.iconext {
  width: 180px;
  height: 84px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.918) 0px 2px 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}

.ibg_red {
  background: linear-gradient(to bottom, #fcb8c0 0%,#f4a8ad 10%,#e68e8f 25%,#ec8e8e 37%,#f18f8f 50%,#e7696b 51%,#f6a2b1 83%,#fdbdd4 100%);
}

.ibg_orange {
  background: linear-gradient(to bottom, #fcccb8 0%,#f4c3a8 10%,#e6b18e 25%,#ebb58f 37%,#f1b88f 50%,#e79b69 51%,#f6b6a2 83%,#fdc0bd 100%);
}

.ibg_yellow {
  background: linear-gradient(to bottom, #fdecc1 0%,#f7e7b3 10%,#ecdd9c 25%,#f0e29c 37%,#f4e69e 50%,#edd87b 51%,#f8deae 83%,#fee0c6 100%);
}

.ibg_green {
  background: linear-gradient(to bottom, #bbfdb9 0%,#aaf6ad 10%,#90ea98 25%,#91ef9b 37%,#93f39c 50%,#6beb76 51%,#acf7a5 83%,#cffdbf 100%);
}

.ibg_blue {
    background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
}

.ibg_purple {
  background: linear-gradient(to bottom, #cab8fc 0%,#c0a8f4 10%,#ae8de7 25%,#b28ded 37%,#b48ef2 50%,#9768e8 51%,#b3a2f6 83%,#bebdfd 100%);
}

.ibg_pink {
  background: linear-gradient(to bottom, #fac7fd 0%,#f8baf8 10%,#eea4eb 25%,#f2a6ed 37%,#f6a6f0 50%,#ef87ea 51%,#f1b5f9 83%,#eecafe 100%);
}

.iconext img {
  width: 64px;
  height: 64px;
}

.iconext:hover {
  box-shadow: rgba(255, 255, 255, 0.527) 0px 0px 6px;
  cursor: pointer;
}

.iconextTxt {
  margin-left: 84px;
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;
  text-align: center;
  text-shadow: 1px 1px black;
  position: absolute;
  width: 84px;
}

.iconextImg {
  position: relative;
  margin:auto;
  display:block;
  margin-left:10px;
  image-rendering: crisp-edges;
  /* border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.918) 0px 2px 4px; */
}

.iconPhoto {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.918) 0px 2px 4px;
}

.iconext.selected {
  background-color: rgba(200, 200, 200, 0.65); /* More opaque */
  box-shadow:inset 0px 0px 0px 1px rgba(160, 160, 160, 0.65);
}

.wood-inset {
  position: absolute;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #531716;
  width:60px;
  text-align: center;
  top: -4px;
  user-select: none;
}

.clockbg {
width: 140px;
height: 24px;
position:absolute;
top: 6px;
left: 60px;
background-image: url('../img/textiles/sky.gif');
border-radius: 4px;
background-repeat: repeat;
box-shadow: rgba(0, 0, 0, 0.651) 0px 2px 4px;
animation: scrollBackground 120s linear infinite;
}

.photobutton {
width: 140px;
height: 24px;
position:absolute;
bottom: 10px;
left: 60px;
background-image: url('../img/textiles/sky.gif');
border-radius: 4px;
background-repeat: repeat;
box-shadow: rgba(0, 0, 0, 0.651) 0px 2px 4px;
}

.photobutton2 {
width: 180px;
height: 24px;
position:absolute;
bottom: 10px;
left: 40px;
/* background-image: url('../img/textiles/water.png');
border-radius: 4px;
background-repeat: repeat;
box-shadow: rgba(0, 0, 0, 0.651) 0px 2px 4px; */
}

#bgoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

#bgoverlay img {
  max-width: 90%;
  max-height: 90%;
}

/*.... FONTS BELOW ....*/



/*.... EXPERIMENTAL STYLES BELOW ....*/

.johntainer { 
  width: 100vw;
  height: 100vh;
  perspective-origin: 50% 600px;
  position:fixed;
  top: 60vh;
  z-index: -10;
  transform-style: preserve-3d;
  perspective: 1600px;
}
.hellement {
  background: url(../img/textiles/marble2.gif) center center repeat;

  image-rendering: pixelated;
  background-size: 512px;
  width: 200%;
  height: 200%;    
  margin: 0px auto;
  transform: rotateX(60deg);
  transform-origin: center top;
  position:relative;
}

.hellement::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.1) 40%,
    transparent 70%
  );
}

.marquee {
  height: 25px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 20s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

#hloverlay {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: auto;
  z-index: 20;
  display: none;
}

#hloverlay img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes scrollBackground {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -640px 200px;
  }
}