body {
  overflow: hidden;
  margin:0;
  padding:0;
}

a {
  color:rgb(105, 213, 255);
}

.bgcheckers {
  background-image: url("/img/bg_inoffensive.png");
  background-repeat: repeat;
  background-color:#042904;
}

.baseWindow {
  background-color: white;
  /* background: url("https://www.pibis.net/img/bg/bg_4.jpg"); */
  border-radius: 8px;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: solid;
  border-width: 4px;
  /*border-color: #6d7b95;*/
  border-color: #598b55;
  margin: auto;

  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: 8px 12px 20px 0px rgba(12, 0, 45, .2);

  animation: border-cycle 10s infinite;

}


.windowHeader {
  width: calc(100% + 2px);
  height: 28px;
  top: -28px;
  position: absolute;
  line-height: 28px;
  
  background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);
  /* background: linear-gradient(180deg, rgba(34,107,107,1) 0%, rgba(0,128,128,1) 8%, rgba(0,128,128,1) 38%, rgba(26,147,142,1) 72%, rgba(0,128,128,1) 88%, rgba(0,128,128,1) 92%, rgba(34,107,107,1) 100%); */

  border-radius: 8px;
  border-style: none;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 4px;
  border-color: #5c6880;
  margin: auto;

  padding-left: 6px;

  position: absolute;
  left: -4px;

  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;

  text-shadow: 1px 1px black;

  animation: bg-cycle 10s infinite; 

  }

  .starterText {
    background: rgba(0, 0, 0, 0.6);
    color:white;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    display: inline-block;
  }

.taskBar {
  width: 100%;
  height: 36px;
  bottom: 0px;
  left:120px;
  position: absolute;
  line-height: 36px;
  background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);
  /* background: linear-gradient(180deg, rgba(34,107,107,1) 0%, rgba(0,128,128,1) 8%, rgba(0,128,128,1) 38%, rgba(26,147,142,1) 72%, rgba(0,128,128,1) 88%, rgba(0,128,128,1) 92%, rgba(34,107,107,1) 100%); */
  margin: auto;
  padding-left: 12px;
  position: absolute;
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;
  text-shadow: 1px 1px black;
  display: inline-block;
  z-index: 5;
  }

  .taskClock {
    width: 64px;
    height: 36px;
    bottom: 0px;
    right:0px;
    position: absolute;
    line-height: 10px;
    background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);
    text-align: center;
    position: absolute;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 9pt;
    color: white;
    font-weight: normal;
    user-select: none;
    text-shadow: 1px 1px black;
    display: inline-block;
    z-index: 6;
    border-left:1px solid #5c6880;
    border-radius: 12px;
    }

.taskStart {
  width: 120px;
  height: 36px;
  bottom: 0px;
  position: absolute;
  line-height: 36px;
  background: linear-gradient(180deg, rgba(32,113,32,1) 0%, rgba(138,218,131,1) 10%, rgba(52,168,52,1) 40%, rgba(52,168,52,1) 60%, rgba(78,185,76,1) 78%, rgba(61,159,60,1) 91%, rgba(32,113,32,1) 100%);
  text-shadow: 2px 2px 2px green;
  margin: auto;
  padding-left: 6px;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  color: white;
  font-weight: bold;
  font-style: italic;
  user-select: none;
  display: inline-block;
  border-bottom-right-radius: 12px 16px;
  border-top-right-radius: 12px 16px;
  border-right: 2px solid;
  border-color: rgba(61,159,60,1);
  z-index: 6;
  }
  .taskStart:hover {
    background: linear-gradient(to bottom, #218f21 0%,#aeedaa 10%,#32c232 40%,#32c232 60%,#54c852 78%,#3cbb39 91%,#218f21 100%);
  }

  .taskIcon {
    margin-left: 16px;
    box-shadow: 2px 2px 2px green;
    width: 14px;
    height: 14px;
  }



.splashtext {
    -webkit-transform: translate(-50%, -50%) rotate(-15deg);
    -moz-transform: translate(-50%, -50%) rotate(-15deg);
    -o-transform: translate(-50%, -50%) rotate(-15deg);
    -ms-transform: translate(-50%, -50%) rotate(-15deg);
    transform: translate(-50%, -50%) rotate(-15deg);
    
    top: 50%;
    left: 50%;
    position: absolute;
    color: gold;
    font-family: Comic Sans MS;
    user-select: none;
    text-shadow: 1px 1px black;
}

.splashContainer {
  position: absolute;
  width: 200%; /* 200% should do it for now but it's not a real fix! oops*/
  left: -116px;
  top: 110px;
}

.startDropdownCont {
  display: none;
  position: absolute;
  bottom: 36px;

  width: 240px;
  height: 240px;

  background-color: white;
  border-radius: 8px;
  border-right-style: ridge;
  border-bottom-style: ridge;
  border-left-style: solid;
  border-width: 4px;
  border-color: #6d7b95;
  margin: auto;

  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  box-shadow: 8px 12px 20px 0px rgba(12, 0, 45, .2);
}

.startDropdown:hover .startDropdownCont {
  display: block;
}

.startDropdown:hover .taskStart {
  background: linear-gradient(to bottom, #218f21 0%,#aeedaa 10%,#32c232 40%,#32c232 60%,#54c852 78%,#3cbb39 91%,#218f21 100%);
}

.startHeader {
  width: calc(100% + 2px);
  height: 48px;
  top: -48px;
  position: absolute;
  
  background: linear-gradient(to bottom, #5c6880 0%,#e1e6ef 8%,#6d7b95 37%,#626882 57%,#626882 67%,#717c91 91%,#5c6880 100%);

  border-radius: 8px;
  border-style: none;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 4px;
  border-color: #5c6880;
  margin: auto;

  padding-left: 6px;

  left: -4px;
}

.userText {
  position:absolute;
  top: -21px;
  left: 48px;
  line-height: 48px;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-size: 16pt;
  color: white;
  font-weight: normal;
  user-select: none;

  text-shadow: 1px 1px black;
}

/*.... BUTTON STUFF ....*/

.xButton {
  background-image: url("https://www.pibis.net/img/buttons/xDefault.png"), linear-gradient(0deg, rgba(173,50,17,1) 0%, rgba(229,86,42,1) 10%, rgba(229,86,42,1) 60%, rgba(238,157,138,1) 90%, rgba(228,90,64,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  top: 4px;
  right: 6px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.xButton:hover {
  background-image: url("https://www.pibis.net/img/buttons/xHover.png"), linear-gradient(0deg, rgba(208,73,54,1) 0%, rgba(255,156,117,1) 10%, rgba(255,118,100,1) 60%, rgba(255,158,147,1) 90%, rgba(255,112,95,1) 100%);
}
.xButton:active {
  background-image: url("https://www.pibis.net/img/buttons/xActive.png"), linear-gradient(0deg, rgba(190,66,32,1) 0%, rgba(207,75,36,1) 10%, rgba(193,63,29,1) 60%, rgba(170,50,23,1) 90%, rgba(110,35,16,1) 100%);
  color: #DF9A87;
}

.yellowButton {
  background-image: linear-gradient(0deg, rgba(165,106,8,1) 0%, rgba(199,138,16,1) 10%, rgba(229,181,24,1) 60%, rgba(236,202,150,1) 90%, rgba(225,169,88,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.yellowButton:hover {
  background-image: linear-gradient(0deg, rgba(203,141,9,1) 0%, rgba(234,174,25,1) 10%, rgba(255,228,30,1) 60%, rgba(255,205,130,1) 90%, rgba(255,184,77,1) 100%);
}
.yellowButton:active {
  background-image: linear-gradient(0deg, rgba(207,130,2,1) 0%, rgba(207,130,2,1) 10%, rgba(216,150,3,1) 60%, rgba(171,98,2,1) 90%, rgba(114,68,2,1) 100%);
}

.greenButton {
  background-image: linear-gradient(0deg, rgba(2,98,2,1) 0%, rgba(12,125,12,1) 10%, rgba(15,179,15,1) 60%, rgba(136,209,136,1) 90%, rgba(51,152,51,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.greenButton:hover {
  background-image: linear-gradient(0deg, rgba(8,134,8,1) 0%, rgba(15,179,15,1) 10%, rgba(27,219,27,1) 60%, rgba(164,217,164,1) 90%, rgba(68,195,68,1) 100%);
}
.greenButton:active {
  background-image: linear-gradient(0deg, rgba(63,160,63,1) 0%, rgba(2,142,2,1) 10%, rgba(2,157,2,1) 60%, rgba(2,98,2,1) 90%, rgba(2,71,2,1) 100%);
}

.blueButton {
  background-image: linear-gradient(0deg, rgba(6,65,192,1) 0%, rgba(22,94,229,1) 10%, rgba(38,121,248,1) 60%, rgba(141,173,249,1) 90%, rgba(85,132,246,1) 100%);
  background-position: center;
  width:20px;
  height:20px;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color:white;
  padding: 0px;
}
.blueButton:hover {
  background-image: linear-gradient(0deg, rgba(15,88,204,1) 0%, rgba(36,129,241,1) 10%, rgba(62,180,255,1) 60%, rgba(164,194,255,1) 90%, rgba(85,142,255,1) 100%);
}
.blueButton:active {
  background-image: linear-gradient(0deg, rgba(0,84,185,1) 0%, rgba(0,83,184,1) 10%, rgba(0,95,196,1) 60%, rgba(0,63,151,1) 90%, rgba(0,37,87,1) 100%);
}



/*.... ICON STUFF ....*/

.icon {
  width: 84px;
  height: 110px;
  margin-top: 8px;
  filter: drop-shadow(2px 2px 2px #00000070);
}
.icon:hover {
  width: 84px;
  height: 110px;
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow:inset 0px 0px 0px 1px rgba(160, 160, 160, 0.5);
  filter: drop-shadow(2px 2px 2px #00000000);
}

.iconTxt {
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  user-select: none;
  text-align: center;
  text-shadow: 1px 1px black;
  position:relative;
  top:2px;
}

.iconImg {
  position: relative;
  margin:auto;
  display:block;
  image-rendering: crisp-edges;
  top:10px;
}

.icon.selected {
  background-color: rgba(200, 200, 200, 0.65); /* More opaque */
  box-shadow:inset 0px 0px 0px 1px rgba(160, 160, 160, 0.65);
}



/*.... FONTS BELOW ....*/



/*.... EXPERIMENTAL STYLES BELOW ....*/

.johntainer { 
  width: 100vw;
  height: 200vh;
  perspective-origin: 50% 0px;
  position:absolute;
  top: 0;
  z-index: -10;
  perspective: 1600px;
  transform-style: preserve-3d;
}
.hellement {
  background: url(https://www.pibis.net/img/bg_moving_dark.gif) center center repeat;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;    
  margin: 0px auto;
  transform: rotateX(60deg);
  transform-origin: center top;
  position:relative;
}

#johntainer0 {
  width: 100%;
  perspective: 1600px;
}
#hellement0 {
  transform: rotateX(60deg);
}

.vignette {
box-shadow: inset 0 0 80px rgba(25, 15, 50, 0.3);
width: 100%;
height: 100%;
position:absolute;
left:0;
top:0;
right:0;
z-index: -5;
}

/* .mainBigLogo {
  display: inline-block;
  animation: hue-cycle 6s linear infinite;
  filter: saturate(1.2);
}

@keyframes hue-cycle {
  from {
    filter: hue-rotate(12deg) saturate(1.2);
  }
  to {
    filter: hue-rotate(372deg) saturate(1.2);
  }
}

@media (prefers-reduced-motion: reduce) {
  .mainBigLogo {
    animation: none;
    filter: none;
  }
}*/


@keyframes border-cycle {
  0%   { border-color: #51638b; }
  4%   { border-color: #55528b; }
  8%   { border-color: #5a518b; }
  12%  { border-color: #67518b; }
  16%  { border-color: #78518b; }
  20%  { border-color: #855185; }
  24%  { border-color: #8b5182; }
  28%  { border-color: #8b516f; }
  32%  { border-color: #8b5164; }
  36%  { border-color: #8b5a58; }
  40%  { border-color: #8b5a51; }
  44%  { border-color: #8b6a51; }
  48%  { border-color: #8b7851; }
  52%  { border-color: #8a8b51; }
  56%  { border-color: #828b51; }
  60%  { border-color: #738b51; }
  64%  { border-color: #648b51; }
  68%  { border-color: #598b55; }
  72%  { border-color: #518b5a; }
  76%  { border-color: #518b6c; }
  80%  { border-color: #518b78; }
  84%  { border-color: #518b82; }
  88%  { border-color: #51828b; }
  92%  { border-color: #51788b; }
  96%  { border-color: #516a8b; }
  100% { border-color: #51638b; }
}




@keyframes bg-cycle {
  0% {
    background: linear-gradient(to bottom, #51638b 0%, #dfe5f1 8%, #6076a2 37%, #56608e 57%, #56608e 67%, #64779e 91%, #51638b 100%);
  }
  4% {
    background: linear-gradient(to bottom, #55528b 0%, #e1dff1 8%, #6760a2 37%, #62568e 57%, #62568e 67%, #6a649e 91%, #55528b 100%);
  }
  8% {
    background: linear-gradient(to bottom, #5a518b 0%, #e2dff1 8%, #6a60a2 37%, #68568e 57%, #68568e 67%, #6d649e 91%, #5a518b 100%);
  }
  12% {
    background: linear-gradient(to bottom, #67518b 0%, #e7dff1 8%, #7a60a2 37%, #74568e 57%, #74568e 67%, #7d649e 91%, #67518b 100%);
  }
  16% {
    background: linear-gradient(to bottom, #78518b 0%, #ebdff1 8%, #8b60a2 37%, #84568e 57%, #84568e 67%, #8a649e 91%, #78518b 100%);
  }
  20% {
    background: linear-gradient(to bottom, #855185 0%, #efdfee 8%, #976098 37%, #8a567c 57%, #8a567c 67%, #986495 91%, #855185 100%);
  }
  24% {
    background: linear-gradient(to bottom, #8b5182 0%, #f1dfee 8%, #a26098 37%, #8e567c 57%, #8e567c 67%, #9e6495 91%, #8b5182 100%);
  }
  28% {
    background: linear-gradient(to bottom, #8b516f 0%, #f1dfe8 8%, #a26088 37%, #8e566f 57%, #8e566f 67%, #9e6488 91%, #8b516f 100%);
  }
  32% {
    background: linear-gradient(to bottom, #8b5164 0%, #f1dfe5 8%, #a26077 37%, #8e5660 57%, #8e5660 67%, #9e6478 91%, #8b5164 100%);
  }
  36% {
    background: linear-gradient(to bottom, #8b5a58 0%, #f1e2e1 8%, #a26a68 37%, #8e6858 57%, #8e6858 67%, #9e6d68 91%, #8b5a58 100%);
  }
  40% {
    background: linear-gradient(to bottom, #8b5a51 0%, #f1e2df 8%, #a26a60 37%, #8e6856 57%, #8e6856 67%, #9e6d64 91%, #8b5a51 100%);
  }
  44% {
    background: linear-gradient(to bottom, #8b6a51 0%, #f1e8df 8%, #a27a60 37%, #8e7856 57%, #8e7856 67%, #9e7d64 91%, #8b6a51 100%);
  }
  48% {
    background: linear-gradient(to bottom, #8b7851 0%, #f1ebdf 8%, #a28b60 37%, #8e8456 57%, #8e8456 67%, #9e8a64 91%, #8b7851 100%);
  }
  52% {
    background: linear-gradient(to bottom, #8a8b51 0%, #f0f0df 8%, #9ea260 37%, #858e56 57%, #858e56 67%, #9a9e64 91%, #8a8b51 100%);
  }
  56% {
    background: linear-gradient(to bottom, #828b51 0%, #eef1df 8%, #98a260 37%, #7c8e56 57%, #7c8e56 67%, #959e64 91%, #828b51 100%);
  }
  60% {
    background: linear-gradient(to bottom, #738b51 0%, #eaf1df 8%, #88a260 37%, #6f8e56 57%, #6f8e56 67%, #889e64 91%, #738b51 100%);
  }
  64% {
    background: linear-gradient(to bottom, #648b51 0%, #e5f1df 8%, #77a260 37%, #608e56 57%, #608e56 67%, #789e64 91%, #648b51 100%);
  }
  68% {
    background: linear-gradient(to bottom, #598b55 0%, #e1f1e1 8%, #6ca268 37%, #5b8e67 57%, #5b8e67 67%, #729e69 91%, #598b55 100%);
  }
  72% {
    background: linear-gradient(to bottom, #518b5a 0%, #dff1e2 8%, #60a26a 37%, #568e68 57%, #568e68 67%, #649e6d 91%, #518b5a 100%);
  }
  76% {
    background: linear-gradient(to bottom, #518b6c 0%, #dff1e8 8%, #60a278 37%, #568e72 57%, #568e72 67%, #649e78 91%, #518b6c 100%);
  }
  80% {
    background: linear-gradient(to bottom, #518b78 0%, #dff1eb 8%, #60a28b 37%, #568e84 57%, #568e84 67%, #649e8a 91%, #518b78 100%);
  }
  84% {
    background: linear-gradient(to bottom, #518b82 0%, #dff1ee 8%, #60a298 37%, #568e8a 57%, #568e8a 67%, #649e95 91%, #518b82 100%);
  }
  88% {
    background: linear-gradient(to bottom, #51828b 0%, #dfeef1 8%, #6098a2 37%, #567c8e 57%, #567c8e 67%, #64959e 91%, #51828b 100%);
  }
  92% {
    background: linear-gradient(to bottom, #51788b 0%, #dfe9f1 8%, #607ca2 37%, #566f8e 57%, #566f8e 67%, #64789e 91%, #51788b 100%);
  }
  96% {
    background: linear-gradient(to bottom, #516a8b 0%, #dfe6f1 8%, #606fa2 37%, #56648e 57%, #56648e 67%, #64709e 91%, #516a8b 100%);
  }
  100% {
    background: linear-gradient(to bottom, #51638b 0%, #dfe5f1 8%, #6076a2 37%, #56608e 57%, #56608e 67%, #64779e 91%, #51638b 100%);
  }
}

