body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: serif;
}

.buttonBorder {
  background-color: black;
  color: white;
  width: 128px;
  height: 64px;
  border-color: white;
  border-style: outset;
  border-width: 2px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 4px;
  margin-right: 4px;
  font-family: serif;
  font-size: 14px;
}

.buttA:hover {
  background-color: black;
  color: lightpink;
  border-color: crimson;
}

.buttB:hover {
  background-color: black;
  color: lemonchiffon;
  border-color: gold;
}

.buttC:hover {
  background-color: black;
  color: lightcyan;
  border-color: deepskyblue;
}

.buttD:hover {
  background-color: black;
  color: pink;
  border-color: hotpink;
}


a:link {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: magenta;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


.getBright {
  animation: getBright 2.5s linear forwards;
}

@keyframes getBright {
  from {
    filter: contrast(100%) brightness(100%);
  }

  to {
    filter: contrast(0%) brightness(200%);
  }
}
