body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

.buttonBorder {
  background-color: black;
  color: white;
  width: 128px;
  height: 128px;
  border-color: white;
  border-style: outset;
  border-width: 2px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

.buttA:hover {
  background-color: black;
  color: red;
  width: 128px;
  height: 128px;
  border-color: red;
  border-width: 4px;
}

.buttB:hover {
  background-color: black;
  color: yellow;
  width: 128px;
  height: 128px;
  border-color: yellow;
  border-width: 4px;
}

.buttC:hover {
  background-color: black;
  color: blue;
  width: 128px;
  height: 128px;
  border-color: blue;
  border-width: 4px;
}

.getBright {
  animation: getBright 2.5s linear forwards;
}

@keyframes getBright {
  from {
    filter: contrast(100%) brightness(100%);
  }

  to {
    filter: contrast(50%) brightness(200%);
  }
}
